<div class="vertical-navigation-wrapper">
  <!-- Header -->
  <div class="vertical-navigation-header">
    <ng-content select="[verticalNavigationHeader]"></ng-content>
  </div>

  <!-- Content -->
  <div
    class="vertical-navigation-content"
    [Scrollbar]="true"
    [ScrollbarOptions]="{
      wheelPropagation: inner(),
      suppressScrollX: true,
    }"
    #navigationContent
  >
    <!-- Content header -->
    <div class="vertical-navigation-content-header">
      <ng-content select="[verticalNavigationContentHeader]"></ng-content>
    </div>

    <!-- Items -->
    @for (item of navigation(); track trackByFn($index, item)) {
      <!-- Skip the hidden items -->
      @if ((item.hidden && !item.hidden(item)) || !item.hidden) {
        <!-- Aside -->
        @if (item.type === 'aside') {
          <vertical-navigation-aside-item
            [item]="item"
            [name]="name()"
            [activeItemId]="activeAsideItemId()"
            [autoCollapse]="autoCollapse()"
            [skipChildren]="true"
            (click)="toggleAside(item)"
          ></vertical-navigation-aside-item>
        }

        <!-- Basic -->
        @if (item.type === 'basic') {
          <vertical-navigation-basic-item
            [item]="item"
            [name]="name()"
          ></vertical-navigation-basic-item>
        }

        <!-- Collapsable -->
        @if (item.type === 'collapsable') {
          <vertical-navigation-collapsable-item
            [item]="item"
            [name]="name()"
            [autoCollapse]="autoCollapse()"
          ></vertical-navigation-collapsable-item>
        }

        <!-- Divider -->
        @if (item.type === 'divider') {
          <vertical-navigation-divider-item
            [item]="item"
            [name]="name()"
          ></vertical-navigation-divider-item>
        }

        <!-- Group -->
        @if (item.type === 'group') {
          <vertical-navigation-group-item
            [item]="item"
            [name]="name()"
            [autoCollapse]="autoCollapse()"
          ></vertical-navigation-group-item>
        }

        <!-- Spacer -->
        @if (item.type === 'spacer') {
          <vertical-navigation-spacer-item
            [item]="item"
            [name]="name()"
          ></vertical-navigation-spacer-item>
        }
      }
    }

    <!-- Content footer -->
    <div class="vertical-navigation-content-footer">
      <ng-content select="[vertical-navigation-aside-wrapper]"></ng-content>
    </div>
  </div>

  <!-- Footer -->
  <div class="vertical-navigation-footer">
    <ng-content select="[verticalNavigationFooter]"></ng-content>
  </div>
</div>

<!-- Aside -->
@if (activeAsideItemId()) {
  <div
    class="vertical-navigation-aside-wrapper"
    [Scrollbar]="true"
    [ScrollbarOptions]="{
      wheelPropagation: false,
      suppressScrollX: true,
    }"
    [@fadeInLeft]="position() === 'left'"
    [@fadeInRight]="position() === 'right'"
    [@fadeOutLeft]="position() === 'left'"
    [@fadeOutRight]="position() === 'right'"
  >
    <!-- Items -->
    @for (item of navigation(); track trackByFn($index, item)) {
      <!-- Skip the hidden items -->
      @if ((item.hidden && !item.hidden(item)) || !item.hidden) {
        <!-- Aside -->
        @if (item.type === 'aside' && item.id === activeAsideItemId()) {
          <vertical-navigation-aside-item
            [item]="item"
            [name]="name()"
            [autoCollapse]="autoCollapse()"
          ></vertical-navigation-aside-item>
        }
      }
    }
  </div>
}
